<p id="notice"><%= notice %></p>

<h1>Sub Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_events.each do |sub_event| %>
      <tr>
        <td><%= sub_event.name %></td>
        <td><%= link_to 'Show', sub_event %></td>
        <td><%= link_to 'Edit', edit_sub_event_path(sub_event) %></td>
        <td><%= link_to 'Destroy', sub_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Event', new_sub_event_path %>
