<div class="col-md-6 col-sm-6">

  <h1>Search Team</h1>

  <br/>
  <%= form_tag(search_home_index_path, method: :get) do %>
    <div class="field inline-block">
      <%= label_tag 'Team Name' %>
      <%= text_field_tag "tname", nil, placeholder: 'Enter search term...', maxlength: 10, class: "form-control", required: true %>
    </div>

    <div class="field inline-block">
      <%= label_tag 'Year' %>
      <%= number_field_tag "year", nil, class: "form-control", min: 2020, max: 2099 %>
    </div>

    <div class="actions inline-block ml-20">
      <%= submit_tag "Search", class: "btn btn-primary"%>
      <%= link_to "Clear", search_home_index_path, class: "btn btn-default"%>
    </div>

  <% end %>

  <% if @data.blank? && params[:tname].present? && params[:year].present? %>
    <h2> Data not found </h2>
  <% elsif @data.present? %>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="6">Event Data</th>
        </tr>
      </thead>

      <tbody>
        <% @data.each do |participation| %>
          <tr>
            <td><%= link_to "#{participation.team.name}", team_path(participation.team), class: "link-primary" %></td>
            <td>
                Event name: <%= participation.event_sub_event.sub_event.name %>, Round: <%= participation.round %>, Score: <%= participation.score%> , Position: <%=participation.position %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>
