<p id="notice"><%= notice %></p>

<h1>Event Sub Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Sub event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_sub_events.each do |event_sub_event| %>
      <tr>
        <td><%= event_sub_event.event %></td>
        <td><%= event_sub_event.sub_event %></td>
        <td><%= link_to 'Show', event_sub_event %></td>
        <td><%= link_to 'Edit', edit_event_sub_event_path(event_sub_event) %></td>
        <td><%= link_to 'Destroy', event_sub_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Sub Event', new_event_sub_event_path %>
